@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background image */
.background {
    background: url(images/code.jpg);
    background-color: #FFFFCC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: auto;
    height: 800px;
    text-align: center;
    padding-top: 100px;
    
}
.second-line {
    margin-left: 150px;
}

/* Middle Text */
.second-line h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bold;
    font-family: "Lobster", cursive;
    letter-spacing: 5px;

}
/* Paragraph */
.second-line p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 30px;

}

    /* Links */
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 2px;
}
.links {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
   color: #ff000d;
}
.links li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

/* social media icon style */

.wrapper .icon{
    position: relative;
    background-color: #e7cb98;
    border-radius: 50%;
    margin: 10px;
    padding: 14px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    right: -5%;
    top: 200px;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
